<%- layout('layouts/boilerplate') -%>

<h1>New post page</h1>

<form action="/posts" method="POST" enctype="multipart/form-data">
  <div>
    <input type="text" name="post[title]" id="" placeholder="Title" required />
  </div>
  <div>
    <input type="text" name="post[price]" id="" placeholder="Price" required />
  </div>
  <div><input type="file" name="images" accept="images/*" multiple /></div>
  <div>
    <textarea
      name="post[description]"
      cols="30"
      rows="10"
      placeholder="Description"
    ></textarea>
  </div>
  <div>
    <input
      type="text"
      name="post[location]"
      id=""
      placeholder="Location"
      required
    />
  </div>
  <div>
    <input type="submit" />
  </div>
</form>
